table{
    margin: 0 auto;
    border:1px   solid black;
    border-collapse: collapse;
    width: 50%;
    height: 300px;
}

thead{
    height: 60px;
}
th {
    background-color: black;
    color: aliceblue;
}

td {
    border: 1px solid black;
    text-align: center;
}
caption {
    caption-side: bottom;
}
tbody tr:nth-child(1) > td {
	background-color: gray;
    color: aliceblue;
    
}
tbody tr:nth-child(odd) {
    background-color: hsl(0, 0%, 93%, 1);
}
tbody tr:nth-child(1) td:nth-child(1) {
	background-color: black
}