@import url('https://fonts.googleapis.com/css2?family=Acme&family=Neuton&display=swap');

:root {
    --primary-color: #277391  ;
    --secondary-color: #e67777 ;
    --accent1-color: #637780;

    --heading-font: 'Acme', sans-serif;
    --paragraph-font: 'Neuton', serif;

    --headline-color-on-white: #277391;
    --headline-color-on-color: #737272; 
    --paragraph-color-on-white: #277391; 
    --paragraph-color-on-color: #ffffff;
    --paragraph-background-color: #277391;
    --nav-link-color: black;
    --nav-background-color: #e67777;
    --nav-hover-link-color: #737272;
    --nav-hover-background-color: #e67777;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto;
    width: 800px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: black;
}
h2 {
    text-align: center;
}
hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}
header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
    color: white;
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}
.colors th {
    background-color: #999;
}
.colors td{
    width: 25%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
    color: white;
}
.secondary {
    background-color: var(--secondary-color);
    color: aliceblue;
}
.accent1 {
    background-color: var(--accent1-color);
}
.accent2{
    background-color: var(--accent2-color);
}


nav {
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
}
nav  {
    list-style-type: none;
    display: flex;

}
nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;

}