body {
    font-family: 'Mooli', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: #112A46;
    color: #D3D3D3;
}

main {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 100%;
}

img {
    width: 100%;
}

section {
    border: 1px solid green;
}

a {
    display: block;
    padding: 10px;
}

h3 {
    display: flex;
    padding-left: 10px;
    align-items: center;
    background-color: #112A46;
    color: white;
    margin: 0;
    height: 50px;

}

h4 {
    padding: 10px;
}

.card-one{
    margin: 20px;
    border: 2px solid black;
    border-radius: 1%;
    overflow: hidden;
    background-color: #D3D3D3;
}

.card-two {
    margin: 20px;
    border: 2px solid black;
    border-radius: 1%;
    overflow: hidden;
    background-color: #D3D3D3;
}

.card-three {
    margin: 20px;
    border: 2px solid black;
    border-radius: 1%;
    overflow: hidden;
    background-color: #D3D3D3;
}

footer {
    margin-top: 20px;
    height: 100px;
    background-color: #112A46;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
}

p {
    color: #D3D3D3;
    width: 300px;
    text-align: center;
    color: #D3D3D3;
}
article {
    padding: 30px;
}