*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 1px solid #277391;
    margin-bottom: 20px;
    font-size: large;
    justify-content: space-between;
}
.logo {
    width: 250px;
    height: 150px;
}
#menu {
    display: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
li a:active ,
li a:link ,
li a:visited { 
	color: #277391;
    text-decoration: none;
    font-family: 'Acme', sans-serif;
}
li a:hover {
    color: purple;
}
ul {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
}

.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
    width: 100%;
    height: auto;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero2 {
	position: absolute;
	top: 30px;
	left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	background:#fff;
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	opacity: 0.75;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.hero2 h1 {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2.5rem;
	font-family:'Acme', sans-serif;
    text-align: center;
}
.button-hero {
    text-decoration: none;
    color: white;
    background-color: #277391;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-size: 2rem;
    font-family:'Acme', sans-serif;
}

section {
    height: 300px;
    width: 100%;
    background-color: #e67777;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
section a {
    color: #081349;
    font-family: 'Neuton', serif;
}
.event {
    display: flex;
    align-items: start;
    flex-direction: column;
}
section h1 {
    width: 100%;
    border-bottom: 1px solid #277391;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
section p {
    font-family: 'Neuton', serif;
}

.container {
    display: grid;
    margin: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.event {
    grid-column: 1/2;
    grid-row: 1/2;
}
.weather {
    grid-column: 3/4;
    grid-row: 1/2;
}
.publicity-1 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.publicity-2 {
    grid-column: 1/2;
    grid-row: 2/3;
}
.publicity-3 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.publicity-4 {
    grid-column: 3/4;
    grid-row: 2/3;
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 30px;
    background-color: #277391;
    color: white;
    font-family: 'Acme', sans-serif;
}
.footer-chamber {
    padding: 20px;
    margin-left: 100px;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-name {
    padding: 20px;
    margin-right: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button,.button-footer {
    width: 300px;
}

#dark {
	position: absolute;
	top: 1rem;
	left: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
    font-family: 'Oswald', sans-serif;
}


/* Discover main css */

.container {
    display: grid;
    margin: 30px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.container-discover {
    display: grid;
    margin: 30px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
    
.div1 { 
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
}

.div2 {
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row-gap: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}
picture {
    margin: 0 auto;
}
.articles-discover {
    color: white;
    background-color: #213b44;
    margin-bottom: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.information-discover {
    margin: 20px;
    font-size: 2rem;
}
picture:hover {
    border-radius: 50px;
    background: #213b44;
    box-shadow:  20px 20px 60px #1c323a,
        -20px -20px 60px #26444e;
}

_____

/* Form */
.centered-content {
    text-align: center; 
    margin: 80px;
    color: #26444e;
}

h1.h1form {
    margin: 0; 
}

.form-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.levels {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    padding: 30px;
    width: 90%;
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  24px 24px 48px #c4c4c4,-24px -24px 48px #ffffff;
    margin-bottom: 80px;
}
main form {
    margin: 0 auto;
    margin-bottom: 80px;
    grid-column: 1/2;
}
form {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 30px;
    width: 325px;
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  24px 24px 48px #c4c4c4,-24px -24px 48px #ffffff;
}
label {
    display: flex;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    color: #213b44;
}

form input {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 4px;
    width: 250px;
    height: 40px;
}

#membership {
    margin-bottom: 15px;
    width: 250px;
}

#description {
    width: 250px;
    height: 100px;
    padding: 5px;
}

form label input:required {
    border: red solid 1px;
    background-color: #FDDDE6;
}
form label input:required:valid {
    border: green solid 1px;
    background-color: #E0EFDC;

}
form input.submitBtn {
    border: none;
    background-color: #213b44;
    border-radius: 1rem;
    padding: 5px;
    width: 250px;
    max-width: 20rem;
    font-size: 1.5rem;
    color: white;
    margin-top: 50px;
}

.thanksh1 {
    text-align: center; /* Center the text horizontally */
    margin: 0 auto; /* Center the element within its container */
    max-width: 600px; /* Adjust the width as needed */
}