@media screen and (max-width: 700px){
    body {
        max-width: 400px;
        margin: 0 auto; 
        overflow-x: hidden;
    }
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #menu {
        display: block;
        font-size: 1.5rem;
        border: 1px solid rgba(0, 0, 0, .3);
        padding: 3px 7px 6px;
        background-color: #eee;
    }
    
    li a:active ,
    li a:link ,
    li a:visited { 
        color: white;
        text-decoration: none;
        font-family: 'Oswald', sans-serif;
        margin: 30px;
    }
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "✖️";
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #277391;
        color: #fff;
        margin: 20px;
    }
    .navigation li {
        display: none;
    }
    .open li {
        display: block;
        width: 100%;
    }
    .open li a {
        display: flex;
        justify-content: center;
    }
    
    .active:active {
        content: "📍 ";
    }
    .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: black;
    }
    
    .hero h1 {
        font-size: 1.5rem;
    }
    
    /* .button-hero {
        /* display: none; */
        /* position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #277391;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        width: 400px; */
    /* } */
    /* .hero {
        width: 100%;
        background-image: url(../images/hands.jpg);
        height: 650px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    } */ 
    .container {
        display: grid;
        margin: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }
    .event {
        display: flex;
        align-items: start;
        flex-direction: column;
    }
    section h1 {
        width: 100%;
        border-bottom: 1px solid #277391;
    }
    .event {
        justify-content: center;
        width: 90%;
        margin-left: 25px;
        margin-right: 25px;
        overflow: hidden;
        text-align: center;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .weather {
        justify-content: center;
        width: 90%;
        margin-left: 25px;
        margin-right: 25px;
        overflow: hidden;
        text-align: center;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .publicity-1 {
        justify-content: center;
        width: 90%;
        margin-left: 25px;
        margin-right: 25px;
        overflow: hidden;
        text-align: center;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .publicity-2 {
        justify-content: center;
        width: 90%;
        margin-left: 25px;
        margin-right: 25px;
        overflow: hidden;
        text-align: center;
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .publicity-3 {
        justify-content: center;
        width: 90%;
        margin-left: 25px;
        margin-right: 25px;
        overflow: hidden;
        text-align: center;
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .publicity-4 {
        justify-content: center;
        width: 90%;
        margin-left: 25px;
        margin-right: 25px;
        overflow: hidden;
        text-align: center;
        grid-column: 1/2;
        grid-row: 6/7;
    }
    
    .button-hero {
        margin-bottom: 20px;
    }
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: 225px 225px 200px;
        background-color: #277391;
        color: white;
        min-width: 400px;
        align-items: center; 
        justify-content: center; 
        
    }
    .upper-section-left {
        margin-left: 30px;
        margin-right: 30px;
        min-width: 400px;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    
    .upper-section-right {
        margin-right: 30px;
        margin-left: 30px;
        min-width: 400px;
        grid-row: 2/3;
        grid-column: 1/2;
    }
    button,.button-footer {
        width: 100px;
    }
    .lower-section {
        display: flex;
        flex-direction: column;
        min-width: 400px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 30px;
        grid-row: 3/4;
        grid-column: 1/2;
    }
    

    /* Discover */
    picture:hover {
        background: none;
        box-shadow:  none;
    }
    .container-discover {
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        margin-right: 50px;
        }
    picture img {
        margin: 0 auto;
        width: 250px;
    }
    .form-page {
        display: block;
        /* grid-template-rows: 1fr 1fr; */
    }
    .levels {
        margin: 0 auto;
    }

}