@media screen and (max-width: 900px){
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    #menu {
        display: block;
        font-size: 1.5rem;
        border: 1px solid rgba(0,0,0,.3);
        padding: 3px 7px 6px;
        background-color: #eee;
        position: fixed;
        top: 0;
        right: 0;
        width: auto;
    }
    
    li a:active ,
    li a:link ,
    li a:visited { 
        color: white;
        text-decoration: none;
        font-family: 'Acme', sans-serif;
        margin: 30px;
    }
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "✖️";
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: #213b44;
        color: #fff;
        margin: 20px;
        font-family: 'Acme', sans-serif;
    }
    .navigation li {
        display: none;
    }
    .open li {
        display: block;
        width: 100%;
    }
    .open li a {
        display: flex;
        justify-content: center;
    }
    
    .active:active {
        content: "📍 ";
    }
    .hero {
        width: 100%;
        background-image: url(../images/hands.jpg);
        height: 650px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .container {
        display: grid;
        margin: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
    }
    .event {
        display: flex;
        align-items: start;
        flex-direction: column;
    }
    section h1 {
        width: 100%;
        border-bottom: 1px solid #213b44;
        font-family: 'Acme', sans-serif;
    }
    .event {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .publicity-1 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .publicity-2 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .publicity-3 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    section p {
        font-family: 'Neuton', serif;
    }
    section a {
        color: #081349;
        font-family: 'Neuton', serif;
    }
    .button-hero {
        margin-bottom: 20px;
    }
    footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 80px;
        background-color: #213b44;
        color: white;
        font-family: 'Acme', sans-serif;
    }
    .footer-section-left {
        margin-left: 30px;
        text-align: center;
    }
    
    .footer-section-medium {
        margin-right: 30px;
        text-align: center;
    }
    
    button,.footer-section-medium {
        width: 300px;
    }
    .lower-section {
        min-width: 420px;
        margin-left: 30px;
        margin-right: 30px;
        padding: 30px;
    }
}